@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}
nav ul{
    list-style-type: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(212, 187, 235);
    cursor: pointer;
}

.info{
    font-size: 22px;
}

.gameInfo{
    padding: 0 34px;
}

.gameInfo h1{
    font-size: 2.5rem;
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background:rgb(107, 4, 204);
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.line{
    background-color: black;
    height: 3px;
    width: 0vw;
    position: absolute;
    background-color: rgb(45, 5, 82);
    transition: width 1s ease-in;
}

@media screen and (max-width: 950px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
}